*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-lightest: hsl(0, 0%, 80%);
  --clr-light: hsl(0, 0%, 85%);
  --clr-neutral: hsl(0, 0%, 88%);
  --clr-medium: hsl(180, 0%, 47%);
  --clr-dark: hsl(180, 0%, 47%);
  --clr-accent: hsl(196, 99%, 49%);

  --clr-font-dark: hsl(0, 0%, 22%);
  --clr-font-darkest: hsl(0, 0%, 10%);

  --rotate-min: 0deg;
  --rotate-max: 180deg;
  --rotate: 50;
  --x: 50;
  --y: 0;
}

main {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  display: grid;
  place-content: center;
  background-color: var(--clr-dark);
}

.app-wrapper {
  border-radius: 50px;
  background: var(--clr-light);
  height: 50svh;
  width: 35svw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 375px;
}

header {
  display: flex;
  flex: 0.25;
  background: var(--clr-font-darkest);
  align-items: center;
  justify-content: center;
  border-top: none;
}

header > * {
  color: var(--clr-light);
}

#fileupload-icon {
  height: 33px;
  width: 33px;
}

.waveform-wrapper {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  background-color: var(--clr-light);
  width: 100%;
}

.waveform {
  height: 60%;
  width: 95%;
  border-radius: 39px;
  background-color: var(--clr-lightest);
  box-shadow: inset 0px 4px 10px 0px var(--clr-font-dark);
}

.knob-wrapper {
  flex: 3;
  position: relative;
  overflow-y: clip;
  padding-inline: 1rem;
}

#dial-svg {
  position: absolute;
}

input[type="range"] {
  /* user-select: all;
  pointer-events: all; */
  display: none;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding-inline-start: 2rem;
  flex: 0.5;
  align-content: center;
  gap: 0.5rem;
  background-color: var(--clr-font-darkest);
  color: var(--clr-light);
  pointer-events: none !important;
  user-select: none !important;
}

.title-logo {
  font-size: 56px;
}

.title-about {
  font-size: 12px;
}
