*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-lightest: hsl(0, 0%, 80%);
  --clr-light: hsl(0, 0%, 85%);
  --clr-medium: hsl(0, 0%, 65%);
  --clr-dark: hsl(0, 0%, 22%);
  --clr-darkest: hsl(0, 0%, 10%);
  --clr-accent: hsl(196, 99%, 49%);
}

main {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  display: grid;
  place-content: center;
  background: radial-gradient(var(--clr-medium), var(--clr-lightest));
}

.app-wrapper {
  border-radius: 50px;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-width: 375px;
  max-width: 450px;
  background: var(--clr-light);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  width: 5rem;
  background-color: var(--clr-darkest);
  color: var(--clr-accent);
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

#bypass-btn:hover .tooltip,
#bypass-btn:active .tooltip {
  visibility: visible;
  top: 0;
  right: 3.5rem;
}

#play-pause-btn:hover .tooltip,
#play-pause-btn:active .tooltip {
  visibility: visible;
  top: 0;
  left: 3.5rem;
}

.header-wrapper {
  display: flex;
  flex: 0.25;
  background-color: var(--clr-darkest);
  color: var(--clr-light);
  border: none;
}

input[type="file"] {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"] + label {
  font-weight: 700;
  display: flex;
  padding: 0.25rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
  background-color: var(--clr-accent);
  color: var(--clr-darkest);
}

#fileupload-icon {
  height: 33px;
  width: 33px;
}

.waveform-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  overflow: hidden;
  background: var(--clr-light);
  padding-block: 1rem;
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 1px 1px 0px #cfcfcf, -1px -1px 0px #d3d3d3;
  box-shadow: 1px 1px 0px #cfcfcf, -1px -1px 0px #d3d3d3;
}

.waveform {
  height: 100%;
  width: 95%;
  overflow: hidden;
  border-radius: 39px;
  background-color: var(--clr-dark);
  box-shadow: 8px 8px 16px #cccccc, -8px -8px 16px #f4f4f4;
}
.waveform:focus {
  outline: 1px solid var(--clr-accent);
}

#play-pause-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 10rem;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  border: none;
  position: absolute;
  top: 15rem;
  left: 2rem;
  z-index: 20;
}
#play-pause-btn:focus,
#bypass-btn:focus,
.knob-wrapper:focus,
.info-icon:focus {
  outline: 0.1rem solid var(--clr-accent);
}

.playing-on {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
  outline: 2px solid hsla(196, 99%, 49%, 0.199);
  outline-offset: 0.1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: inset 5px 5px 10px #d0d0d0, inset -5px -5px 10px #f0f0f0;
}

.playing-off {
  background-color: var(--clr-light);
  color: var(--clr-darkest);
  outline: 2px solid hsla(0, 0%, 49%, 0.082);
  outline-offset: 0.1rem;
  box-shadow: 6px 6px 12px #c1c1c1, -6px -6px 12px #ffffff;
}

#bypass-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 10rem;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  border: none;
  position: absolute;
  right: 2rem;
  top: 15rem;
  z-index: 20;
}

.bypass-on {
  background-color: var(--clr-dark);
  color: rgba(255, 0, 0, 0.349);
  outline: 1px solid rgba(255, 0, 0, 0.349);
  outline-offset: 0.1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: inset 5px 5px 10px #d0d0d0, inset -5px -5px 10px #f0f0f0;
}
.bypass-off {
  background-color: var(--clr-light);
  color: rgb(41, 41, 41);
  outline: 1px solid hsla(0, 0%, 57%, 0.199);
  outline-offset: 0.1rem;
  box-shadow: 6px 6px 12px #c1c1c1, -6px -6px 12px #ffffff;
}

.knob-wrapper {
  flex: 1.5;
  position: relative;
  -webkit-box-shadow: 1px 1px 0px #cfcfcf, -1px -1px 0px #d3d3d3;
  box-shadow: 1px 1px 0px #cfcfcf, -1px -1px 0px #d3d3d3;
}

#dial-svg {
  scale: 1.2;
}

#dial-svg:not(#knobAninmate) {
  user-select: none;
}

#knobAnimate {
  transform-origin: 50% 50%;
  user-select: all;
  pointer-events: all;
  cursor: grab;
  cursor: -webkit-grab;
}

input[type="range"] {
  /* position: absolute; */
  /* user-select: all;
  pointer-events: all; */
  display: none;
}

.title-wrapper {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  flex: 0.25;
  align-content: center;
  gap: 0.5rem;
  background-color: var(--clr-darkest);
  color: var(--clr-lightest);
  /* pointer-events: none !important; */
  user-select: none !important;
  z-index: 100;
}

.title-wrapper strong {
  color: var(--clr-accent);
}

.title-logo {
  font-size: 56px;
}

.title-about {
  font-size: 14px;
}

.tooltip-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2.5rem;
}

.info-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
}

.tooltip-wrapper .tooltip {
  visibility: hidden;
}

.info-icon:hover + .tooltip {
  visibility: visible;
  background-color: var(--clr-darkest);
  color: var(--clr-accent);
  z-index: 100;
  bottom: 4rem;
  padding-inline: 1rem;
  position: absolute;
  margin: 0 auto;
  right: 0;
  width: 10rem;
  list-style: none !important;
  text-align: left;
}
